<p id="notice"><%= notice %></p>

<h1> <%= @beer_club.name %> </h1>

<p>Founded <%= @beer_club.founded %> in <%= @beer_club.city %> </p>

<h2>Members</h2>

<ul>
  <% @beer_club.members.each do |member| %>
    <li>
      <%= link_to member.username, member %>
    </li>
  <% end %>
</ul>

<% if current_user %>

  <% if not current_user.beer_clubs.include?(@beer_club) %>

    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"Join the club", class:'btn btn-primary' %>
    <% end %>
    
  <% else %>
    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"End the membership", class:'btn btn-danger' %>
    <% end %>

  <% end %>

  <br>
  <%= edit_and_destroy_buttons(@beer_club) %>
<% end %>
