<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<% if @beer.ratings.empty? %>
<% else %>
  <p>Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %> </p>
<% end %>

<% if not current_user.nil? %>
  <%= link_to 'Edit', edit_beer_path(@beer) %> |
  <%= link_to 'Destroy the beer', @beer, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
